# tensorflow==2.13.0
# numpy<2
# protobuf==3.20.3
tensorflow
numpy
protobuf
streamlit
pandas
scikit-learn
joblib
plotly
openmeteo-requests
requests-cache
retry-requests
niquests
setuptools
wheel
h5py

# streamlit
# pandas
# numpy
# plotly
# scikit-learn
# tensorflow==2.21.0
# h5py